body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* Estilo do cabeçalho */
.cabecalho {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilo do menu */
.menu {
    background-color: #444;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px;
}

/* Estilo do conteúdo */
.conteudo {
    padding: 20px;
}

/* Estilo do rodapé */
.rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;

}